

body {
  font-family: Arial, sans-serif;
  background: lch(96.19% 0.01 296.81);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
